<h2>Real Time Products</h2>
<form id="agregar_producto_form">
    Nombre <input type="text" name="title" value="Coca-Cola lata 500ml"><br>
    Descripcion <input type="text" name="description" value="Una coquita helada"><br>
    Precio <input type="text" name="price" value="1000"><br>
    Imagen <input type="text" name="image"
        value="https://micocacola.vtexassets.com/arquivos/ids/195035-800-auto?v=638278902645400000&width=800&height=auto&aspect=true">
    <input type="submit" value="Enviar">
</form>
<h4>Eliminar producto</h4>
<form id="eliminar_producto_form">
    Id producto <input type="number" name="id" value="">
    <input type="submit" value="Eliminar">
</form>

<section id="products_container">
</section>

<script src="/js/realTimeProducts.js"></script>